<%- include('../partials/header') %>
    <h1>My Library</h1>

    <section class="main">

        <div class="bookshelf-container">
            <div class="bookshelf title">
                <h4>My Bookshelves</h4>
            </div>
            <div class="bookshelf">
                <a class="first-link" href="/bookshelf/new">
                    <button class="add" type="submit">
                        <span></span>
                        <span></span>
                    </button>
                </a>
            </div>

            <% if(user){ bookshelves.forEach(function(bo) { %>

                <div class="bookshelf">
                    <a href="/bookshelf/<%= bo._id %>">
                        <%= bo.name %>
                    </a>
                    <div class="delete-container">
                        <form action="/bookshelf/<%= bo._id %>?_method=DELETE" method="POST">
                            <button class="delete" type="submit">
                                <span></span>
                                <span></span>
                            </button>
                        </form>
                    </div>

                </div>
                <% }); } %>
        </div>
        <div class="books-container">
            <div class="bookshelf title">
                <h4> My Books</h4>
            </div>
            <div class="book-results">
                <% let count=0; %>

                    <% if(user){ books.forEach(function(b) { %>


                        <div class="book vert">
                            <div class="book-bg"></div>

                            <div class="book-thumbnail">
                                <img src="<%= b.thumbnail %> " alt="">
                            </div>

                            <h3 class="book-title">
                                <%= b.title %>
                            </h3>
                            <h4 class="book-authors">

                                by <% b.authors.forEach(function(author, i) { %>

                                    <% if(b.authors.length> 1 && i < b.authors.length - 1) { %>
                                            <%= author + ', ' %>

                                                <% } else{ %>

                                                    <%= author %>
                                                        <% }}); %>
                            </h4>



                            <div class="book-rating">

                                <div class="star-rating">
                                    <input type="radio" name="<%=count%>stars" id="<%=count%>star-a" value="5" />
                                    <label for="<%=count%>star-a"></label>

                                    <input type="radio" checked="true" name="stars" id="<%=count%>star-b" value="4" />
                                    <label for="<%=count%>star-b"></label>

                                    <input type="radio" name="<%=count%>stars" id="<%=count%>star-c" value="3" />
                                    <label for="<%=count%>star-c"></label>


                                    <input type="radio" name="<%=count%>stars" id="<%=count%>star-d" value="2" />
                                    <label for="<%=count%>star-d"></label>


                                    <input type="radio" name="<%=count%>stars" id="<%=count%>star-e" value="1" />
                                    <label for="<%=count%>star-e"></label>
                                </div>

                                <span>
                                    <%= b.averageRating %>
                                        (<%= b.ratingsCount %> ratings)
                                </span>
                            </div>
                            <% if(b.inDB) { %>
                                <form action="/search/add/<%= b.id %>" method="POST">
                                    <button class="btn add-book" type="submit">Add Book to Library</button>
                                </form>
                                <% } else {%>
                                    <p>will add bookshelf name here</p>
                                    <% }%>
                        </div>
                        <% count++ }); } %>
            </div>
    </section>

    <%- include('../partials/footer') %>